@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color:#1f2833;
    background-color: #0b0c10;
    width:100%
}
img{
    margin-top:-38px;
    text-align: center;
    
}
center h1{
    margin-top: -50px;
    background-color: #66fcf1;
    color:#1f2833;
    font-weight: bold;
}
.text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    margin:10px 6px;
    font-size: 15px;
}
textarea{
    background-color: #1f2833;
    border:1px solid #1f2833;
    border-radius: 5px;
    padding:5px;
    font-size: 18px;
    color:#c5c6c7
}
#submit{
    margin-top: 10px;
    background-color:#66fcf1;
    color:#1f2833;
    padding:10px 15px;
    border:2px #66fcf1 solid;
    border-radius: 5px;
    font-size: 16px;
}
#submit:hover{
    opacity: 0.8;
    transform:scale(0.98);
    cursor: pointer;
    transition: all 0.5s;

}
.language{
    margin-top: -20px;
    margin-bottom: 15px;
}
.language span{
    font-size: 18px;
    color:#c5c6c7;
}
.choice{
    margin-top:-10px
}
.choice span, .choice label{
    font-size: 18px;
    color: #c5c6c7;
} 
.choice input[type="radio"]{
    margin-right: 20px;
    margin-left: 2px;
}
#drop{
    width:100px;
    height: 25px;
    background-color:#66fcf1;
    color: #1f2833;
    border: 1px solid #66fcf1;
    border-radius: 2px;
}